[submodule "packages/js-prototypes"]
	path = packages/js-prototypes
	url = https://github.com/dimaslanjaka/js-prototypes
[submodule "test/test/demo"]
	path = test/test/demo
	url = https://github.com/dimaslanjaka/site
	branch = test-demo
