[submodule "packages/js-prototypes"]
	path = packages/js-prototypes
	url = https://github.com/dimaslanjaka/js-prototypes
[submodule "demo"]
	path = test/demo
	url = https://github.com/dimaslanjaka/site.git
	branch = test-demo
